.titulo-seccion{
    text-align:center;
    font-size:32px;
    font-weight:700;
    margin-top:20px;
}

.subtexto{
    text-align:center;
    font-size:16px;
    margin-bottom:30px;
    color:#666;
}

.contenedor-rutas{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
    padding:20px 50px;
}

.card-ruta{
    background:white;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:.3s;
}

.card-ruta:hover{
    transform:scale(1.03);
}

.card-ruta img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.card-ruta h2{
    text-align:center;
    margin:12px 0;
}

.card-ruta p{
    text-align:center;
    padding:0 15px;
    color:#444;
}

.btn-ver{
    display:block;
    margin:15px auto 20px;
    background:#1abc9c;
    color:white;
    padding:10px 18px;
    width:70%;
    border-radius:8px;
    text-align:center;
    text-decoration:none;
    font-weight:600;
}

.btn-ver:hover{
    background:#16a085;
}
